#body div {
	width:200px;
	height:200px;
}
#body h4 {
	position:absolute;
	margin:auto;
	margin-left:145px;
    font-size:10px;
    margin-top:5px;
    cursor:pointer;
    color:#CCC;
}
#body input {
	width:200px;
}