body{
	margin:0;
	padding:0;
}
.topo{
	width:100%;
	height:50px;
	background-color:#333333;
}
.topoint {
	margin:auto;
	width:100%;
	max-width:1200px;
	height:50px;
}
.toporight {
	float:right;
	width:50%;
	height:50px;
}
.toporight ul {
	list-style:none;
}
.toporight ul li{
	float:right;
	margin-left:4px;
	margin-right:4px;
}
.toporight li a {
	text-decoration:none;
	font-size:18px;
	color:#CCC;
}
.toporight li a:hover{
	color:blue;
}

.topoleft{
	float:left;
	width:50%;
	height:50px;
}
.topoleft ul {
	list-style:none;
}
.topoleft ul li{
	float:left;
	margin-left:4px;
	margin-right:4px;
}
.topoleft li a {
	text-decoration:none;
	font-size:18px;
	color:#CCC;
}
.topoleft li a:hover{
	color:blue;
}
.topoleft h3{
	color:orange;
	margin:auto;
	float:right;
	margin-top:1px;
}
.formulario {
	margin:auto;
	margin-top:10px;
	width:400px;
	height:300px;
	background-color:#454545;
	border: 1px solid #000000;
}
.formulario form {
	padding:100px;
}